* {
	margin: 0; /* Aucune marge extérieur */
	padding: 0; /* Aucune marge interieur */
	box-sizing: border-box; /* Respecter les dimensions donée à un élément */
}

.container-1000{
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

/*--------------------------------------------------
Variables
----------------------------------------------------*/
:root{
    --gap: 32px;
    --primary: #111;
    --secondary: #eee;
    --black: #000;
    --white: #fff;
    --grey: #636363;
    --light-grey: #aaa;
}

.responsive{
    /*Les images doivent d'adapter a leur parents*/
    width: 100%;
    height: auto;
    object-fit: cover; /* jouez sur ces proprietés pour recadrer / agrandir l'image */
    object-position: center;
}

/*--------------------------------------------------
 Mise en page flex
---------------------------------------------------*/

.flex{
    display: flex;
    flex-wrap: wrap;
}

.justify-between{
    justify-content: space-between;
}

.align-center{
    align-items: center;
}

.textCenter {
    text-align: center;
}

.gap{
    gap: var(--gap);
}

.gap-16{
    --gap: 16px;
    gap: var(--gap);
}

/*--------------------------------------------------
Largeurs et colonnes
---------------------------------------------------*/
/*Generation des classes pour la largeur des colonnes selon 
les resolutions d'ecrans d'apres un petit script sass*/

/*Desktop*/
.large-1 {
    width: calc(8.3333333333% - 11 * var(--gap) / 12);
}

.large-2 {
    width: calc(16.6666666667% - 5 * var(--gap) / 6);
}

.large-3 {
    width: calc(25% - 3 * var(--gap) / 4);
}

.large-4 {
    width: calc(33.3333333333% - 2 * var(--gap) / 3);
}

.large-5 {
    width: calc(41.6666666667% - 1.4 * var(--gap) / 2.4);
}

.large-6 {
    width: calc(50% - 1 * var(--gap) / 2);
}

.large-7 {
    width: calc(58.3333333333% - 0.7142857143 * var(--gap) / 1.7142857143);
}

.large-8 {
    width: calc(66.6666666667% - 0.5 * var(--gap) / 1.5);
}

.large-9 {
    width: calc(75% - 0.3333333333 * var(--gap) / 1.3333333333);
}

.large-10 {
    width: calc(83.3333333333% - 0.2 * var(--gap) / 1.2);
}

.large-11 {
    width: calc(91.6666666667% - 0.0909090909 * var(--gap) / 1.0909090909);
}

.large-12 {
    width: calc(100% - 0 * var(--gap) / 1);
}

/*Tablets*/
@media all and (max-width: 770px) {
.medium-1 {
      width: calc(8.3333333333% - 11 * var(--gap) / 12);
}

.medium-2 {
      width: calc(16.6666666667% - 5 * var(--gap) / 6);
}

.medium-3 {
      width: calc(25% - 3 * var(--gap) / 4);
}

.medium-4 {
      width: calc(33.3333333333% - 2 * var(--gap) / 3);
}

.medium-5 {
      width: calc(41.6666666667% - 1.4 * var(--gap) / 2.4);
}

.medium-6 {
      width: calc(50% - 1 * var(--gap) / 2);
}

.medium-7 {
      width: calc(58.3333333333% - 0.7142857143 * var(--gap) / 1.7142857143);
}

.medium-8 {
      width: calc(66.6666666667% - 0.5 * var(--gap) / 1.5);
}

.medium-9 {
      width: calc(75% - 0.3333333333 * var(--gap) / 1.3333333333);
}

.medium-10 {
      width: calc(83.3333333333% - 0.2 * var(--gap) / 1.2);
}

.medium-11 {
      width: calc(91.6666666667% - 0.0909090909 * var(--gap) / 1.0909090909);
}

.medium-12 {
      width: calc(100% - 0 * var(--gap) / 1);
}
}

/*Smartphones*/
@media all and (max-width: 440px) {
.small-1 {
      width: calc(8.3333333333% - 11 * var(--gap) / 12);
}

.small-2 {
      width: calc(16.6666666667% - 5 * var(--gap) / 6);
}

.small-3 {
      width: calc(25% - 3 * var(--gap) / 4);
}

.small-4 {
      width: calc(33.3333333333% - 2 * var(--gap) / 3);
}

.small-5 {
      width: calc(41.6666666667% - 1.4 * var(--gap) / 2.4);
}

.small-6 {
      width: calc(50% - 1 * var(--gap) / 2);
}

.small-7 {
      width: calc(58.3333333333% - 0.7142857143 * var(--gap) / 1.7142857143);
}

.small-8 {
      width: calc(66.6666666667% - 0.5 * var(--gap) / 1.5);
}

.small-9 {
      width: calc(75% - 0.3333333333 * var(--gap) / 1.3333333333);
}

.small-10 {
      width: calc(83.3333333333% - 0.2 * var(--gap) / 1.2);
}

.small-11 {
      width: calc(91.6666666667% - 0.0909090909 * var(--gap) / 1.0909090909);
}

.small-12 {
      width: calc(100% - 0 * var(--gap) / 1);
}
}

/*--------------------------------------------------
Styliser du texte
---------------------------------------------------*/

h1,h2,h3,h4,h5,h6{
    margin-bottom: 16px;
 
    font-weight: bold;
}

h1{
    font-size: 32px;
}

h2{
    font-size: 24px;
}

h3{
    font-size: 20px;
}

h4{
    font-size: 16px;
}

p{
    line-height: 1.5;
}

a{
    color: var(--black);
    text-decoration: none;
}

.orange{
    color: #FD8D5D;
}

.noir {
    color: #000000;
}

.blanc {
    color: #FFFFFF;
}

.bold {
    font-weight: bold;
    font-size: 24px;
}

/*--------------------------------------------------
Margins and paddings ... don't abuse ! 
---------------------------------------------------*/
.mt-5 {
    margin-top: 5px;
}

.ml-5 {
    margin-left: 5px;
}

.mr-5 {
    margin-right: 5px;
}


.mt-16 {
    margin-top: 16px;
}

.mt-32{
    margin-top: 32px;
}

.mt-64 {
    margin-top: 64px;
}

.mt-100{
    margin-top: 100px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mlr-64 {
    margin: 0px 64px;
}

.p-16{
    padding: 16px;
}

.ptb-16 {
    padding: 16px 0px;
}

.ptb-32 {
    padding: 32px 0px;
}

.pr-16{
    padding-right: 16px;
}

.pl-10{
    padding-left: 10px;
}

/* Header */
.NoPuce {
    list-style: none;
}

header {
    position:sticky;
    top:0;
    z-index: 999;
    background-color: white;
    border-bottom: 1px solid #000000;
}

.btnHeader {
    border: 1.5px solid #FD8D5D;
    border-radius: 20px;
}

/* Section 1 */
/* Partie Gauche */

.bgOrange {
    background-color: #FD8D5D;
}

.borderRadiusb8 {
    border-radius: 0px 0px 8px 8px;
}

.borderRadius5 {
    border-radius: 5px;
}

.imgTags {
    width: 15px;
    height: 15px;
}

.borderBox {
    box-shadow: 1px 1px 5px 1px lightgray;
    padding: 30px;
    border-radius: 10px;
}

img {
    display: block;
}

.imgSL{
    height: 32px;
    width: 32px;
    justify-content: center;
    align-content: center;
    background-color: #FFD8C7;
    padding: 20px;
    border-radius: 20px;
}

.imgT {
    width: 16px;
}

.btn{
    background-color: #FD8D5D;
    color: white;
    border-radius: 20px;
    padding: 6px;
    margin-top: 20px;
}